<div style="display: flex; align-items: flex-start; justify-content: center; align-content: stretch; margin-top: 20px">
    <mat-card style="flex-grow:3">
        <mat-card-header>
            <mat-card-title>
                <span>R Correlation Matrix Input</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-file-input (columns)="columns = $event" (sessionID)="sessionID = $event"></app-file-input>

            <form [formGroup]="form" style="margin-top: 20px" *ngIf="columns.length > 0">
                <div style="display: flex">
                    <div style="margin: 2px">
                        <mat-form-field>
                            <mat-label>Correlation method</mat-label>
                            <mat-select formControlName="correlationMethod">
                                <mat-option [value]="null">
                                    None
                                </mat-option>
                                <mat-option *ngFor="let i of correlationMethod" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="margin: 2px">
                        <mat-form-field>
                            <mat-label>Presenting Order</mat-label>
                            <mat-select formControlName="order">
                                <mat-option *ngFor="let i of orderList" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="margin: 2px">
                        <mat-form-field>
                            <mat-label>Presenting Style</mat-label>
                            <mat-select formControlName="presentingMethod">
                                <mat-option *ngFor="let i of presentingMethod" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="margin: 2px">
                        <mat-form-field>
                            <mat-label>Presenting Style</mat-label>
                            <mat-select formControlName="correlationPlotShape">
                                <mat-option *ngFor="let i of correlationPlotShape" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div style="display: flex" *ngIf="form.value['order'] === 'hclust'">
                    <div style="margin: 2px">
                        <mat-form-field>
                            <mat-label>Clustering Method</mat-label>
                            <mat-select formControlName="hclusteringMethod">
                                <mat-option *ngFor="let i of hclusteringMethod" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div style="display: flex;" *ngIf="columns.length > 0">
                <form [formGroup]="form">
                    <div>
                        <mat-form-field style="width: 300px">
                            <mat-label>Select index column</mat-label>
                            <mat-select formControlName="indexColumn">
                                <mat-option *ngFor="let i of columns" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field style="width: 300px">
                            <mat-label>Select sample columns</mat-label>
                            <mat-select multiple formControlName="sampleColumns">
                                <mat-option *ngFor="let i of columns" [value]="i">
                                    {{i}}
                                </mat-option>
                            </mat-select>
                            <mat-hint>Selected {{form.value['sampleColumns'].length}} samples</mat-hint>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Submit</button>
        </mat-card-actions>
    </mat-card>

    <div style="margin-top: 20px; display: flex; justify-content: center" *ngIf="outputFiles.length > 0">
        <mat-card style="min-width: 600px">
            <mat-card-header>
                <mat-card-title>
                    Result
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-list [cols]="outputFiles.length" rowHeight="100px">
                    <mat-grid-tile *ngFor="let f of outputFiles">
                        <div>
                            <div>
                                <b>{{f.file_type.join('_')}}</b>
                            </div>
                            <div *ngIf="f.file_type.include('table')">
                                <button [method]="'GET'" [fileName]="f.file_type.join('_')+'.txt'" [url]="f.file" fileSaver mat-raised-button color="primary">Download</button>
                            </div>
                            <div *ngIf="f.file_type.include('pdf')">
                                <button [method]="'GET'" [fileName]="f.file_type.join('_')+'.pdf'" [url]="f.file" fileSaver mat-raised-button color="primary">Download</button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>


