<mat-toolbar color="primary">
  <span>Coral</span>
  <span class="toolbar-spacer"></span>
  <div>
    <button mat-button *ngIf="!ws.eventStreamConnected" (click)="connectWebsocket()">
      <mat-icon>refresh</mat-icon>
      Connection lost
    </button>
    <button mat-button *ngIf="ws.eventStreamConnected">
      <mat-icon>link</mat-icon>
      Connection OK
    </button>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu dropdown button">
      <mat-icon>menu</mat-icon>
    </button>
  </div>


</mat-toolbar>

<div style="display: flex; height: 100%; justify-content: space-between">
  <div>
    <router-outlet></router-outlet>
  </div>
  <div style="width: 300px">
    <app-task-log></app-task-log>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>folder</mat-icon>
    <span>Files</span>
  </button>
  <button mat-menu-item>
    <mat-icon>note</mat-icon>
    <span>Tasks</span>
  </button>
  <button mat-menu-item>
    <mat-icon>save</mat-icon>
    <span>Save Session</span>
  </button>
</mat-menu>

